@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header .header-inner {
    max-width: 72rem;
  }
  .header .header-inner .header-left .header-title {
    font-size: 2rem;
  }
  .header .header-inner .header-nav .header-nav-list .header-nav-list-item {
    margin-left: 2rem;
  }
  .header .header-inner .header-nav .btn {
    margin-left: 4rem;
  }

  .mv .mv-inner {
    max-width: 72rem;
    padding: 8rem 4rem 8rem;
  }
  .mv .mv-inner .mv-copy .mv-copy-ttl {
    font-size: 2.8rem;
  }
  .mv .mv-inner .mv-image img {
    width: 32rem;
    height: 28rem;
    margin-top: 4rem;
  }

  .main .features {
    padding: 0 4rem 12rem;
  }
  .main .features .features-ttl {
    font-size: 2.8rem;
    margin-top: 4rem;
  }
  .main .features .features-items .features-items-box {
    max-width: 64rem;
  }
  .main .features .features-items .features-items-box h1 {
    font-size: 2.4rem;
  }
  .main .features .features-items .features-items-box .features-detail {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .features .features-items .features-items-box .features-detail .features-detail-txt h2 {
    font-size: 1.8rem;
    line-height: 1.4;
  }
  .main .features .features-items .features-items-box .features-detail .features-detail-txt p {
    font-size: 1.4rem;
    line-height: 1.4;
  }
  .main .features .features-items .box1 img {
    width: 24rem;
    height: 18rem;
    margin: 4rem 0 0 2rem;
  }
  .main .features .features-items .box2 img {
    width: 24rem;
    height: 18rem;
  }
  .main .features .features-items .box3 {
    margin-top: 10rem;
  }
  .main .features .features-items .box3 .features-detail img {
    width: 24rem;
    height: 18rem;
    margin: 4rem 0 0 4rem;
  }
  .main .features .features-items .box3 .features-detail .features-detail-txt {
    padding-right: 4rem;
  }
  .main .price .price-ttl {
    font-size: 2.8rem;
  }
  .main .faq .faq-ttl {
    font-size: 2.8rem;
  }
  .main .blog .blog-ttl {
    font-size: 2.8rem;
  }
  .main .blog .blog-items .blog-items-box .blog-txt {
    padding: 1rem;
  }
  .main .blog .blog-items .blog-items-box .blog-txt .blog-heading {
    font-size: 1.4rem;
  }
  .main .blog .blog-items .blog-items-box .blog-txt .date {
    font-size: 1.2rem;
  }
  .main .works .works-ttl {
    font-size: 2.8rem;
  }
  .main .works .swiper .swiper-wrapper {
    width: 90%;
  }
  .main .works .swiper .swiper-wrapper .swiper-slide {
    width: calc(33.33333% - 20px * 2 / 3);
  }
  .main .works .swiper .swiper-wrapper .swiper-slide img {
    height: 18rem;
  }
  .main .works .swiper .swiper-wrapper .swiper-slide .swiper-txt {
    padding: 1rem;
  }
  .main .works .swiper .swiper-wrapper .swiper-slide .swiper-txt .swiper-heading {
    font-size: 1.4rem;
    line-height: 1.4;
  }
  .main .works .swiper .swiper-wrapper .swiper-slide .swiper-txt .swiper-data {
    font-size: 1.2rem;
    font-weight: normal;
  }
  .main .contact .contact-ttl {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 767px) {
  .header .header-inner .header-left .header-logo {
    width: 3.2rem;
    height: 3.2rem;
  }
  .header .header-inner .header-left .header-title {
    font-size: 1.6rem;
  }
  .header .header-inner .header-nav {
    display: none;
  }
  .header .header-inner .sp-menu {
    display: block;
  }

  .mv {
    background-position: center;
  }
  .mv .mv-inner {
    display: block;
    padding: 4rem 0;
    text-align: center;
  }
  .mv .mv-inner .mv-copy {
    padding-top: 0;
  }
  .mv .mv-inner .mv-copy .mv-copy-ttl {
    font-size: 2.8rem;
  }
  .mv .mv-inner .mv-copy .btn {
    margin: 0 auto;
  }
  .mv .mv-inner .mv-image img {
    width: 32rem;
    height: 32rem;
    margin-top: 4rem;
  }

  .main .features {
    padding-bottom: 8rem;
  }
  .main .features .features-ttl {
    font-size: 2.4rem;
    margin-top: 2rem;
  }
  .main .features .features-items .features-items-box h1 {
    font-size: 2rem;
  }
  .main .features .features-items .features-items-box .features-detail {
    display: block;
    text-align: center;
  }
  .main .features .features-items .features-items-box .features-detail .features-detail-txt h2 {
    font-size: 1.4rem;
    line-height: 2;
  }
  .main .features .features-items .features-items-box .features-detail .features-detail-txt p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  .main .features .features-items .box1 {
    margin-top: 4rem;
  }
  .main .features .features-items .box1 h1 {
    margin-bottom: 2rem;
  }
  .main .features .features-items .box1 h2 {
    margin: 2rem 0 3rem;
  }
  .main .features .features-items .box1 img {
    width: 28rem;
    height: 24rem;
  }
  .main .features .features-items .box2 {
    margin-top: 4rem;
  }
  .main .features .features-items .box2 .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .features .features-items .box2 h1 {
    margin-bottom: 2rem;
  }
  .main .features .features-items .box2 h2 {
    margin: 2rem 0 3rem;
  }
  .main .features .features-items .box2 img {
    width: 28rem;
    height: 24rem;
  }
  .main .features .features-items .box3 {
    margin-top: 4rem;
  }
  .main .features .features-items .box3 h1 {
    margin-bottom: 2rem;
  }
  .main .features .features-items .box3 .features-detail img {
    width: 28rem;
    height: 24rem;
  }
  .main .features .features-items .box3 .features-detail .features-detail-txt {
    padding-right: 0;
  }
  .main .features .features-items .box3 h2 {
    margin: 2rem 0 3rem;
  }
  .main .price {
    padding: 4rem 0;
  }
  .main .price .price-ttl {
    font-size: 2.4rem;
  }
  .main .price .price-subttl {
    margin-bottom: 4rem;
  }
  .main .price .top {
    display: none;
  }
  .main .price .sp-price {
    display: block;
  }
  .main .price p {
    font-size: 1.4rem;
  }
  .main .faq {
    padding: 4rem 0;
  }
  .main .faq .faq-ttl {
    font-size: 2.4rem;
  }
  .main .faq .faq-subttl {
    margin-bottom: 2rem;
  }
  .main .faq .qanda {
    width: 90%;
    font-size: 1.4rem;
  }
  .main .faq .qanda dl dt {
    height: auto;
    padding: 2rem;
    line-height: 1.4;
  }
  .main .faq .qanda dl dd {
    padding: 2rem;
  }
  .main .blog {
    padding: 4rem 0;
  }
  .main .blog .blog-ttl {
    font-size: 2.4rem;
  }
  .main .blog .blog-subttl {
    margin-bottom: 2rem;
  }
  .main .blog .blog-items {
    display: block;
  }
  .main .blog .blog-items .blog-items-box {
    width: 33.6rem;
    margin: 0 auto 2rem;
  }
  .main .blog .blog-items .blog-items-box .blog-txt {
    height: auto;
  }
  .main .blog .blog-items .blog-items-box .blog-txt .blog-heading {
    margin-bottom: 2rem;
  }
  .main .works {
    padding: 4rem 0;
  }
  .main .works .works-ttl {
    font-size: 2.4rem;
  }
  .main .works .works-subttl {
    margin-bottom: 2rem;
  }
  .main .works .swiper .swiper-wrapper {
    display: block;
    width: 100%;
  }
  .main .works .swiper .swiper-wrapper .swiper-slide {
    width: 33.6rem;
    margin: 0 auto 2rem;
  }
  .main .contact {
    padding: 4rem 0;
  }
  .main .contact .contact-ttl {
    font-size: 2.4rem;
  }
  .main .contact .contact-subttl {
    margin-bottom: 2rem;
  }
  .main .contact .contact-txt {
    width: 90%;
    padding: 2rem;
  }
  .main .contact .contact-txt .form .contact-txt-name,
.main .contact .contact-txt .form .contact-txt-email,
.main .contact .contact-txt .form .contact-txt-content {
    width: 100%;
  }
  .main .contact .contact-txt .form input, .main .contact .contact-txt .form textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  footer {
    padding: 4rem 0;
  }
  footer .footer-ttl {
    font-size: 2rem;
  }
  footer p {
    font-size: 1.4rem;
  }
  footer small {
    font-size: 1.2rem;
  }
}