@media screen and (min-width:768px) and  (max-width:1024px){
  .header {
    .header-inner {
      max-width: 72rem;
      .header-left {
        .header-title {
          font-size: 2rem;
        }
      }
      .header-nav {
        .header-nav-list {
          .header-nav-list-item {
            margin-left: 2rem;
          }
        }
        .btn {
          margin-left: 4rem;
        }
      }
    }
  }
  .mv {
    .mv-inner {
      max-width: 72rem;
      padding: 8rem 4rem 8rem;
      .mv-copy {
        .mv-copy-ttl {
          font-size: 2.8rem;
        }
      }
      .mv-image {
        img {
          width: 32rem;
          height: 28rem;
          margin-top: 4rem;
        }
      }
    }
  }
  .main {
    .features {
      padding: 0 4rem 12rem;
      .features-ttl {
        font-size: 2.8rem;
        margin-top: 4rem;
      }
      .features-items {
        .features-items-box {
          max-width: 64rem;
          h1 {
            font-size: 2.4rem;
          }
          .features-detail {
            align-items: center;
            .features-detail-txt {
              h2 {
                font-size: 1.8rem;
                line-height: 1.4;
              }
              p {
                font-size: 1.4rem;
                line-height: 1.4;
              }
            }
          }
        }
        .box1 {
          img {
            width: 24rem;
            height: 18rem;
            margin: 4rem 0 0 2rem;
          }
        }
        .box2 {
          img {
            width: 24rem;
            height: 18rem;
          }
        }
        .box3 {
          margin-top: 10rem;
          .features-detail {
            img {
              width: 24rem;
              height: 18rem;
              margin: 4rem 0 0 4rem;
            }
            .features-detail-txt {
              padding-right: 4rem;
            }
          }
        }
      }
    }
    .price {
      .price-ttl {
        font-size: 2.8rem;
      }
    }
    .faq {
      .faq-ttl {
        font-size: 2.8rem;
      }
    }
    .blog {
      .blog-ttl {
        font-size: 2.8rem;
      }
      .blog-items {
        .blog-items-box {
          .blog-txt {
            padding: 1rem;
            .blog-heading {
              font-size: 1.4rem;
            }
            .date {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
    .works {
      .works-ttl {
        font-size: 2.8rem;
      }
      .swiper {
        .swiper-wrapper {
          width: 90%;
          .swiper-slide {
            width: calc(33.33333% - 20px * 2 / 3);
            img {
              height: 18rem;
            }
            .swiper-txt {
              padding: 1rem;
              .swiper-heading {
                font-size: 1.4rem;
                line-height: 1.4;
              }
              .swiper-data {
                font-size: 1.2rem;
                font-weight: normal;
              }
            }
          }
        }
      }
    }
    .contact {
      .contact-ttl {
        font-size: 2.8rem;
      }
    }
  }
}

@media screen and (max-width:767px) {
  .header{
    .header-inner {
      .header-left {
        .header-logo {
          width: 3.2rem;
          height: 3.2rem;
        }
        .header-title {
          font-size: 1.6rem;
        }
      }
      .header-nav {
        display: none;
      }
      .sp-menu {
        display: block;
      }
    }
  }
  .mv {
    background-position: center;
    .mv-inner {
      display: block;
      padding: 4rem 0;
      text-align: center;
      .mv-copy {
        padding-top: 0;
        .mv-copy-ttl {
          font-size: 2.8rem;
        }
        .btn {
          margin: 0 auto;
        }
      }
      .mv-image {
        img {
          width: 32rem;
          height: 32rem;
          margin-top: 4rem;
        }
      }
    }
  }
  .main {
    .features {
      padding-bottom: 8rem;
      .features-ttl {
        font-size: 2.4rem;
        margin-top: 2rem;
      }
      .features-items {
        .features-items-box {
          h1 {
            font-size: 2rem;
          }
          .features-detail {
            display: block;
            text-align: center;
            .features-detail-txt {
              h2 {
                font-size: 1.4rem;
                line-height: 2;
              }
              p {
                font-size: 1.2rem;
                line-height: 1.6;
              }
            }
          }
        }
        .box1 {
          margin-top: 4rem;
          h1 {
            margin-bottom: 2rem;
          }
          h2 {
            margin: 2rem 0 3rem;
          }
          img {
            width: 28rem;
            height: 24rem;
          }
        }
        .box2 {
          margin-top: 4rem;
          .column {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
          }
          h1 {
            margin-bottom: 2rem;
          }
          h2 {
            margin: 2rem 0 3rem;
          }
          img {
            width: 28rem;
            height: 24rem;
          }
        }
        .box3 {
          margin-top: 4rem;
          h1 {
            margin-bottom: 2rem;
          }
          .features-detail {
            img {
              width: 28rem;
              height: 24rem;
            }
            .features-detail-txt {
              padding-right: 0;
            }
          }
          h2 {
            margin: 2rem 0 3rem;
          }
        }
      }
    }
    .price {
      padding: 4rem 0;
      .price-ttl {
        font-size: 2.4rem;
      }
      .price-subttl {
        margin-bottom: 4rem;
      }
      .top {
        display: none;
      }
      .sp-price {
        display: block;
      }
      p {
        font-size: 1.4rem;
      }
    }
    .faq {
      padding: 4rem 0;
      .faq-ttl {
        font-size: 2.4rem;
      }
      .faq-subttl {
        margin-bottom: 2rem;
      }
      .qanda {
        width: 90%;
        font-size: 1.4rem;
        dl {
          dt {
            height: auto;
            padding: 2rem;
            line-height: 1.4;
          }
          dd {
            padding: 2rem;
          }
        }
      }
    }
    .blog {
      padding: 4rem 0;
      .blog-ttl {
        font-size: 2.4rem;
      }
      .blog-subttl {
        margin-bottom: 2rem;
      }
      .blog-items {
        display: block;
        .blog-items-box {
          width: 33.6rem;
          margin: 0 auto 2rem;
          .blog-txt {
            height: auto;
            .blog-heading {
              margin-bottom: 2rem;
            }
          }
        }
      }
    }
    .works {
      padding: 4rem 0;
      .works-ttl {
        font-size: 2.4rem;
      }
      .works-subttl {
        margin-bottom: 2rem;
      }
      .swiper {
        .swiper-wrapper {
          display: block;
          width: 100%;
          .swiper-slide {
            width: 33.6rem;
            margin: 0 auto 2rem;
          }
        }
      }
    }
    .contact {
      padding: 4rem 0;
      .contact-ttl {
        font-size: 2.4rem;
      }
      .contact-subttl {
        margin-bottom: 2rem;
      }
      .contact-txt {
        width: 90%;
        padding: 2rem;
        .form {
          .contact-txt-name, 
          .contact-txt-email,
          .contact-txt-content {
            width: 100%;
          }
          input, textarea {
            width: 100%;
            box-sizing: border-box;
          }
        }
      }
    }
  }
  footer {
    padding: 4rem 0;
    .footer-ttl {
      font-size: 2rem;
    }
    p {
      font-size: 1.4rem;
    }
    small {
      font-size: 1.2rem;
    }
  }
}